Source: ros-kinetic-qt-smach-viewer
Section: misc
Priority: extra
Maintainer: Ludovic Delval <ludovic.delval@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), python-pytest, ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-python-qt-binding, ros-kinetic-rostest, ros-kinetic-smach, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-qt-smach-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-runtime, ros-kinetic-python-qt-binding, ros-kinetic-rospy, ros-kinetic-smach, ros-kinetic-std-msgs
Description: Qt_smach_viewer provide a new smach introspection and a linked smach viewer.
